<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>My Resume</title>
  <% include ../views/partials/header %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
</head>

<body>
  <div class="wrapper ">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <!-- <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div> -->
      <ul class="list-unstyled components">
        <p>My Resume</p>
        <li class="nav-item">
          <a class="nav-link" href="#list-item-0">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#list-item-1">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#list-item-2">Qualifications</a>
        </li>
        <li class="nav-item">
          <a href="#list-item-3" class="nav-link">Skill</a>
        </li>
        <li class="nav-item">
          <a href="#list-item-4" class="nav-link">Certificate</a>
        </li>
        <li class="nav-item">
          <a href="#list-item-5">Project</a>
        </li>
      </ul>
      <ul class="list-unstyled CTAs">
        <li>
          <a class="download" href="https://github.com/zcxv321" target="_blank"><i class="fab fa-github-alt"></i> My Git
            Hub</a>
        </li>

      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">


      <div class="scroll-area" data-spy="scroll"  class="scrollspy-example">

        <div class="jumbotron jumbotron-fluid mr-4" id="list-item-0">
          <div class="container">
            <div class="row">
              <div class="col-3 ml-4">
                <img src="/images/mypicture.jpg" alt="my image" class="img-thumbnail rounded">
              </div>
              <div class="col-8">
                <h3 class="display-4">Mr.Wannit Bualoy</h3>
                <ul class="list-unstyled">
                  <li>Address: 80 Ramintra63 Rd, Tha Rang, Bang Khen, Bangkok, 10230</li>
                  <li></li>
                  <li>Contact Number: (+66)998541030</li>
                  <li>Email: wannit.b@ku.th</li>
                  <li>Date of birth : 18 January 1997</li>
                  <li>Nationality: Thai</li>
                  <li>Sex: Male</li>
                  <li>Interested: Technology, Computer, Music</li>
                </ul>
              </div>
            </div>
          </div>
        </div>





        <!-- <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Toggle Sidebar</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

            <div class="collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a href="#">Page</a>
                </li>
              </ul>
            </div>
          </div>
        </nav> -->



        <br>
        <div class="line" id="list-item-1"></div>
        <br>
        <ul>
          <h2 >Education</h2>
          <li>Bachelor of engineering program in computer engineering and informatics in KASETSART
            UNIVERSITY | 2015 – 2019
          </li>
        </ul>
        <br>
        <div class="line" id="list-item-2"></div>
        <br>

        <ul>
          <h2 >Qualifications</h2>
          <li>Programming Languages: Java, Python, C, C++, C#, Html, CSS, JavaScript, Perl, VBScript</li>
          <li>Web application framework: Vue.js, angular, Express</li>
          <li>Mobile Application: Android Studio</li>
          <li>Embedded: Arm architecture, Arduino</li>
          <li>Database: Mongo dB, SQL, DynamoDB</li>
          <li>Clound: AWS, GCP</li>
          <li>DevOps: CI/CD, Jenkins</li>
        </ul>
        <br>
        <div class="line" id="list-item-3"></div>
        <br>


        <ul>
          <h2 >Skill</h2>
          <li>Good and positive attitude</li>
          <li>Willing to learn</li>
        </ul>

        <br>
        <div class="line" id="list-item-4"></div>
        <br>

        <ul >
          <h2 >Certificate</h2>
          <li>Basic PLC</li>
          <li>
            TESA Top Gun Rally - I joined The Embedded System competition and got 10th out of 32th team and got top score on Project Management Award.
            <div class="pt-4 pb-4 pr-3" style="text-align: center;">
            <img src="/images/topgun.jpg" alt="my image" class="img-thumbnail rounded" width="500" height="500"">
          </div>
          </li>
          
        </ul>

        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        <br>
        <div class="line"></div>
        <br>
        
      </div>
    </div>
  </div>
</body>

</html>
<script>
  $(document).ready(function () {
    console.log("Rady");
    removeSection = function (e) {
      $(e).parents(".section").remove();
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy("refresh");
      });
    }
    $(".scroll-area").scrollspy({ target: "#sidebar" });
    $(".scroll-area").on("activate.bs.scrollspy", function () {
      // console.log("asd");

      var currentItem = $(".nav a.active:last").text();
      // $("#info").empty().html("Currently you are viewing - " + currentItem);
      // console.log(currentItem);
    })
  });
</script>